@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
$fontFamily: "Noto Sans", sans-serif;

$logofont: "Tilt Prism", cursive;

@keyframes slidetext {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
